# Core Dependencies
rich>=13.7.0 # Для красивого виводу в консоль
questionary>=2.1.0 # Для інтерактивних меню
prompt-toolkit>=3.0.52 # Для редагування вводу

# Project itself (editable mode)
-e . # Для встановлення проекту в режимі розробки

# Development & Testing Dependencies
pytest>=8.3.2 # Для тестування
ruff>=0.10.0 # Для перевірки стилю коду
pre-commit>=3.7.1 # Для автоматичної перевірки коду перед комітом
